<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/about.css">
    <script src="https://kit.fontawesome.com/7b902b91c4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>

<body>
 {{>header}}
    <div class="abt" >
        <h1>About Us</h1>
        <div class="slogan">
            <h6>Educate</h6>
            <h6>Enable</h6>
            <h6>Empower</h6>
        </div>
    </div>

    <div class="row1">

        <h2>Our Mission & Impact</h2>
        <h1>Democratise access to high quality education</h1>

    </div>
    
    <div class="row2">
        <div class="col1">
            <div class="box_row">
                <div class="box1">
                    <h1 style="color: #08bd80;">50M+</h1>
                    <h3>Active Listners</h3>
                </div>
                <div class="box1">
                    <h1 style="color: #2d81f7;">1000+</h1>
                    <h3>Top Educators</h3>
                </div>
            </div>
            <div class="box_row">
                <div class="box1">
                    <h1 style="color: #ffad3b;">1B+</h1>
                    <h3>Minutes Watched</h3>
                </div>
                <div class="box1">
                    <h1 style="color: #eb5757;">2000+</h1>
                    <h3>Lectures</h3>
                </div>
            </div>
        </div>
        <div class="col2">
            <img src="images/laptop.png">
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="content">
        <div class="left">
            <h1>Our Story</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta dolorem fugiat alias. Quia est nesciunt laudantium animi possimus nisi sit in? Pariatur, temporibus sapiente tenetur maiores delectus iusto debitis autem, illum cumque quos eveniet blanditiis, beatae porro consequatur. Sunt fuga voluptatibus, eaque ea sint iure numquam repudiandae, quasi tempora corrupti dolore placeat laboriosam consequatur dolor explicabo deserunt sapiente expedita laborum est? Blanditiis, amet tempora consequatur qui veniam minus nihil ipsam iure aspernatur rem dicta esse obcaecati quaerat a, laboriosam nisi saepe id! Illum labore omnis eum voluptatem deleniti quasi quae, accusantium ratione quibusdam laudantium cumque rem explicabo atque maxime expedita, culpa incidunt autem ipsum? Distinctio quia atque repudiandae nisi hic sequi, tenetur, aspernatur nostrum ex error dolore placeat eum commodi quaerat minus recusandae id? Sed sint facere quia sapiente aut iusto. Labore ipsam voluptatum tempora minus molestias itaque, possimus reiciendis? Modi debitis reprehenderit, error asperiores ducimus unde nobis reiciendis deserunt optio similique animi dolorum porro aliquam quisquam ea itaque facilis esse inventore, aut ipsam, nostrum deleniti officia? Reiciendis amet distinctio nemo modi quidem quo assumenda numquam, repellat dolor enim eaque. Aliquid sint asperiores non ipsum aut accusantium omnis iusto qui. Eos provident nihil ratione earum aliquam consectetur necessitatibus nesciunt! Perspiciatis.</p>
        </div>
        <div class="right">
            <img src="images/Group-4362.png">
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="quote_cont">
        <div class="quote">
            <p>"Lorem ipsum, dt conse Inventore rerum quaestias, mollitia debitis repellendus nisi ducimus quibusdam
                non."</p>
        </div>

        <div class="image3">
            <img src="images/paper-ge045e3ddf_1920.jpg" alt="">
        </div>
    </div>

  

    <!--footer  -->

    {{>footer}}
</body>

</html>