<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMU ACADEMIC HELP</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/5ce0c7293f.js" crossorigin="anonymous"></script>
    <style>
        .header {
            min-height: 100vh;
            width: 100%;
            background-image: linear-gradient(rgba(4, 9, 30, .7), rgba(4, 9, 30, .7)), url(../images/Gateway-Edited_v1.jpg);
            background-position: center;
            background-size: cover;
            position: relative;

        }
    </style>
</head>

<body>

    {{>header}}

    <div class="text-heading">
        <h1>TRUSTED BY BMU STUDENTS</h1>
        <p>Our goal is to help every student who needs
            assistance in academics.</p>
        <a href="" class="enroll_button">Get Enrolled</a>
    </div>




    <!-- review -->

    <section class="review">
        <h1>Every Students Matters</h1>
        <p>Knowledge matters not the result.</p>

        <div class="row">
            <div class="col">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-stroke"></i>

                <p>Good Interface and relevant topics.</p>

                <div class="name-course">
                    <div class="icon"><i class="fas fa-user"></i></div>

                    <div class="text">
                        <div class="name">Naman Khandelwal</div>
                        <div class="course">CSE Student</div>
                    </div>
                </div>

            </div>
            <div class="col">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-stroke"></i>

                <p>Good Interface and relevant topics.</p>

                <div class="name-course">
                    <div class="icon"><i class="fas fa-user"></i></div>

                    <div class="text">
                        <div class="name">Naman Khandelwal</div>
                        <div class="course">CSE Student</div>
                    </div>
                </div>

            </div>
            <div class="col">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-stroke"></i>

                <p>Good Interface and relevant topics.</p>

                <div class="name-course">
                    <div class="icon"><i class="fas fa-user"></i></div>

                    <div class="text">
                        <div class="name">Naman Khandelwal</div>
                        <div class="course">CSE Student</div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- knowus -->

    <section class="know-us">
        <div class="bgcolor">
            <div class="cont">
                <div class="cont-left">
                    <div class="bar"></div>
                    <h1>KNOW US</h1>
                    <p>Follow Our Socials</p>

                    <ul class="socials">

                        <li><i class="fa-brands fa-square-facebook"></i></li>
                        <li><i class="fab fa-instagram-square"></i></li>
                        <li><i class="fab fa-whatsapp-square"></i></li>
                        <li><i class="fab fa-twitter-square"></i></li>

                    </ul>

                </div>

                <div class="cont-right">
                    <img src="images/school-_-college-books-500x500 1.png" alt="">
                </div>

            </div>
        </div>
    </section>


    <!-- footer -->

    {{>footer}}

</body>

</html>