<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Problem</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <style>
        body {
            background-color: #212529;
        }

        .bg-color {
            background-color: #212529;
            height: 100vh;
            display: flex;
        }

        #left {
            width: 70%;
        }

        table {

            border-collapse: collapse;
        }

        #mytable th {
            background-color: rgb(148, 153, 153);
            height: 5vh;
            text-align: left;
            padding-left: 1%;
        }

        td {
            width: 100vw;
            height: 8vh;
            background-color: rgb(88, 87, 87);
            color: white;
            text-align: left;
            padding-left: 1%;
        }

        .fw-bold {
            color: whitesmoke;
        }

        .card-hover:hover {

            cursor: pointer;
            transform: scale(1.07);
        }

        a {
            text-decoration: none;
            color: white;
        }

        .contain {
            width: 60%;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom ">
        <div class="container-fluid mx-5">
            <a class="navbar-brand" href="/">Bmu Academic Help</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/prob">Practice</a>
                    </li>
                    <li class="nav-item">
                        {{!-- <a class="nav-link" href="/quiz">Quiz</a> --}}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About us</a>
                    </li>

                </ul>
                <button type="button" class="btn btn-success mx-3">Log in</button>

                <button type="button" class="btn btn-dark" style="background-color: #494646;">Sign up</button>
            </div>
        </div>
    </nav>

   <!-- cards -->
    <div class="contain d-flex mx-5 my-5">



        <div class="card-hover card text-bg-success" style="max-width: 18rem;">
            <div class="card-header">Problem Of The Day</div>
            <a href="">
                <div class="card-body">
                    <h5 class="card-title">Sorting</h5>
                </div>
            </a>
        </div>

        <div class="card-hover card text-bg-danger mx-auto" style="max-width: 18rem;">
            <div class="card-header">Download DSA Book</div>
            <a href="">
                <div class="card-body">
                    <h5 class="card-title">Click Here To Download</h5>
                </div>
            </a>
        </div>

        <div class="card-hover card text-bg-secondary" style="max-width: 18rem;">
            <div class="card-header">Quiz</div>
            <a href="">
                <div class="card-body">
                    <h5 class="card-title">Access Quiz 2022</h5>
                </div>
            </a>
        </div>

    </div>

    <!-- filter -->
    <div class="container-fluid d-flex mx-5 ">
        <div class="dropdown ">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Difficulty
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-item" id="easy" name="easy" onclick="diff_function1()">Easy</li>
                <li class="dropdown-item" id="medium" name="easy" onclick="diff_function2()">Medium</li>
                <li class="dropdown-item" id="hard" name="easy" onclick="diff_function3()">Hard</li>
            </ul>
        </div>

        <div class="dropdown mx-4">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Status
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Solved</a></li>
                <li><a class="dropdown-item" href="#">Unsolved</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Tags
            </button>
            <ul class="dropdown-menu">
                <li id="Array" onclick="tag_filter1()"><a class="dropdown-item" href="#">Array</a></li>
                <li id="String" onclick="tag_filter2()"><a class="dropdown-item" href="#">String</a></li>
                <li id="Hash Table" onclick="tag_filter3()"><a class="dropdown-item" href="#">Hash Table</a></li>
                <li id="Math" onclick="tag_filter4()"><a class="dropdown-item" href="#">Math</a></li>
                <li id="Sorting" onclick="tag_filter5()"><a class="dropdown-item" href="#">Sorting</a></li>
            </ul>
        </div>

        <input type="text" placeholder="Search" class="mx-5" id="myinput" onkeyup="searchfunction()">

    </div>

    <div class="container-fluid d-flex mx-5 my-2" id="filter-tag">
        <p class="fw-bold ">Filter:</p>
    </div>



    <!-- table -->
    <div class="bg-color mx-5">

        <div id="left">
            <table class="table table-dark table-hover table-striped" id="appending-in-table">

                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Title</th>
                        <th scope="col">Difficulty</th>
                        <th scope="col">Tags</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="right">



        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">

        </script>

    <script src="../JS Files/prob.js"></script>
   
</body>

</html>