<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMU ACADEMIC HELP</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/5ce0c7293f.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="header">
        <nav>
            <a href="/"><img src="images/BMU ACADEMIC HELP.png" alt="" class="logo"></a>

            <div class="nav-links">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/practice">PRACTICE</a></li>
                    {{!-- <li><a href="/quiz">QUIZ</a></li> --}}
                    <li><a href="/about">ABOUT US</a></li>
                </ul>
            </div>

            <div class="nav-links">
                <ul>
                    <button>Log In</button>
                    <button class="button-grey">Sign In</button>
                </ul>
            </div>
        </nav>
    </section>
    </body>
    </html>