@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Montserrat:wght@500&family=Poppins:wght@400;500;600&family=Roboto:wght@100;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

p {
    color: rgb(112, 112, 112);
    font-family: "montserrat";
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    background-color: rgb(4, 4, 4);
    height: 8vh;
}


nav .logo {
    width: 15vw;
    margin-right: 15vh;
}

.nav-links {
    flex-grow: 1;
    text-align: right;

}

.nav-links ul li {
    display: inline-block;
    list-style-type: none;
    padding: 1.5%;
    margin-right: 3%;

}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    font-family: "poppins";

}

.nav-links ul li::after {
    content: "";
    background-color: red;
    display: block;
    width: 0%;
    height: 2px;
    transition: 0.5s;
    margin: auto;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav ul button{
    background-color:#13653f; /* Green */
  border: none;
  color: white;
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 14%;
    
}

.button-grey{
    background-color: #494646;;
}

.text-heading {
    color: white;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
}

.text-heading h1 {
    font-size: 2em;
    font-family: "montserrat";
    letter-spacing: 0.1em;
    font-weight: 700;

}

.text-heading p {
    font-family: "poppins";
    letter-spacing: 0.03em;
    font-weight: 400;
    margin-bottom: 10%;
    color: white;
}

.enroll_button {
    color: white;
    text-decoration: none;
    /* position: relative; */
    /* top: 50%; */
    /* left: %; */
    border: 1px solid white;
    padding: 4%;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    font-family: "montserrat";
}

.enroll_button:hover {
    border: 1px solid red;
    background-color: red;
    transition: 1s;
}

/* review */
.review {
    /* margin-left: -10%; */
    margin: auto;
    width: 80%;
    padding-top: 10%;
    text-align: center;
}

.review h1 {
    font-size: 2em;
    font-weight: 600;
    font-family: "poppins";

}

.review p {
    color: #777;
    line-height: 22px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    flex-wrap: wrap;
}

.col {

    background-color: rgb(239, 238, 233);
    border-radius: 15px;
    padding: 5%;
    margin-bottom: 10%;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
    /* flex-basis: 21%; */
}

.col i {
    color: rgba(232, 232, 61, 0.855);
    font-size: 1.4em;
    margin-bottom: 8%;
}

.col p {
    margin-bottom: 5%;
    color: rgb(112, 112, 112);
    font-family: "montserrat";
    font-size: 0.8em;

}

.name-course {
    margin-top: 12%;
    display: flex;
    justify-content: space-between;
}

.name-course i {
    color: black;
    padding: 3%;
    border-radius: 100px;
    border: 3px solid black;
    margin-top: 10%;

}

.name-course .text {
    margin-right: 10%;
}

.name {
    font-family: "poppins";
    font-weight: 600;
    text-align: left;
}

.course {
    font-family: "poppins";
    font-weight: 400;
    text-align: left;
}

.col:hover {
    box-shadow: 0px 8px 8px 0px rgb(145, 138, 138);
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

.know-us {
    margin-top: 5%;
    margin-bottom: 5%;
}

.bgcolor {
    background-color: rgb(239, 238, 233);
    border-radius: 5%;
    width: 80%;
    margin: auto;
}

.cont {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;

}

.bar {
    background-color: red;
    width: 100%;
    height: 1%;
    margin-bottom: 10%;
}

.bar:hover{
    background-color: rgb(135, 6, 6);
}
.cont-left {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

.cont-left h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    /* line-height: 50px; */
    margin-bottom: 4%;
    letter-spacing: 0.2%;
    color: #1e1c1c;
}

.cont-left h1:hover{
    color: #777;
}

.cont-left p {
    text-align: center;
}

.cont-left p:hover{
    color: rgb(161, 154, 154);
}

.socials{
    display: flex;
    justify-content: space-around;
    margin-top: 14%;
}
.socials li{
    list-style-type: none;
}

.socials li i{
    font-size: 2.6em;
}

.socials li i:hover{
    color: rgb(10, 10, 180);
    transform: scale(1.05);
}

.cont-right img:hover{
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}


/* footor */

#contact {
    background-color: #212529ec;
    padding: 40px;
}

#contact_text{
	color: white;
	font-size: 30px;
	margin-bottom: 19px;
margin-left: 102px;
font-family: "poppins";
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
    font-family: "poppins";
    margin-bottom: 2%;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
    font-family: "poppins";
    
    margin-bottom: 2%;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
    font-family: "poppins";
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}



